.cardAndButtons {
    justify-content: center;
    margin: auto;
    max-width: 30%;

    border: 3px solid green;
    border-radius: 5px;
    padding: 20px;
    margin-top: 3rem;
    background-color: rgb(2, 116, 31);

}

.ButtonsDiv {
    justify-content: space-between;
    display: flex;
}

.TinderCard {
    background-color: #242424;
    border: 2px solid green;
    padding: 3rem;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.Buttons {


    justify-content: center;
    margin: auto;
    color: green;
    align-items: center;
    padding: 10px 20px;

}

#infoText {
    justify-content: center;
    margin: auto;
    max-width: 30%;

    border: 3px solid green;
    border-radius: 5px;
    padding: 20px;
    margin-top: 3rem;
    background-color: rgb(2, 116, 31);
}

.Text {
    font-weight: bold;
    font-size: large;
    color: rgb(3, 177, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;


}

@media screen and (max-width: 768px) {
    .cardAndButtons {
        max-width: 80%;
    }
}