.Form {
    justify-content: center;
    margin: auto;
    max-width: 30%;

    border: 3px solid green;
    border-radius: 5px;
    padding: 20px;
    margin-top: 3rem;
    background-color: rgb(2, 116, 31);

}

.Form>input {
    max-width: 250px;
    width: 100%;
    display: flex;
}

.flexibleTextarea {
    width: 100%;
    max-width: 250px;

    padding: 10px;
    box-sizing: border-box;

}

textarea {
    resize: none;
}



@media screen and (max-width: 768px) {
    #submitLogin {
        font-size: smaller;
        display: flex;
        width: auto;
    }
}